.height {
  height: 100%;
}
#bg {
   padding-top:10rem;
   background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('bg-index.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   height:100%;
}

#margin-login {
  margin-top: 10rem;
  margin-bottom: 5rem;
}
